.message{
    display: flex;
    align-items: center;
    padding: 20px;
}
.message >img{
    height: 50px !important;
    width: 50px !important;
    object-fit: contain;
}
.message-time{
    color: gray;
    font-weight: 300;
    font-size: 13px;
}
.message-info{
    padding-left: 10px;
}